<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.virtualmachines</string>
	<key>connections</key>
	<dict>
		<key>0C43D32F-4524-4292-A2F0-98BAB312E8E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96020B05-A3BE-49A2-B638-5849BB122534</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C624EF2-3B87-48F9-9BA0-0A02AEDD31E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27FA96FD-E50D-4CEB-A4C7-D96846223619</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27FA96FD-E50D-4CEB-A4C7-D96846223619</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B251ECCB-821D-4ABB-820F-44732096C853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A1CB15A-C5A9-45D2-AEFF-7B901E358AF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C48650A-4975-416A-8BD0-11DC6DF5DDAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C43D32F-4524-4292-A2F0-98BAB312E8E2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Overwrite With Another VM</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9536190C-FA59-4461-91AD-30AF02A2AAC8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Clone VM</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D98957A-486E-472F-A008-6E3FDBB89A0D</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Delete VM</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C624EF2-3B87-48F9-9BA0-0A02AEDD31E3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Ignore VM</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>53D126D5-BBFD-4668-A19B-55328F10FEBC</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Reset Ignored VMs</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>418FD397-A8AB-444C-A181-441CEB60881C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF091797-929C-4FAB-8224-DECA10BE0AFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53D126D5-BBFD-4668-A19B-55328F10FEBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D40AA19D-AF50-44E0-8514-F7A62BDADD48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D98957A-486E-472F-A008-6E3FDBB89A0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CA1563B-A17E-4162-91B7-3205B9146460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>894EA6FF-FFF7-4FD1-BC7E-40BF715E9139</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FA51A6D-2460-46A9-94C6-1A46DE3DC880</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9536190C-FA59-4461-91AD-30AF02A2AAC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>894EA6FF-FFF7-4FD1-BC7E-40BF715E9139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96020B05-A3BE-49A2-B638-5849BB122534</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>418FD397-A8AB-444C-A181-441CEB60881C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5BE8354-29A1-4355-A4C6-4055CA1DB83F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Restart {var:orig_vm} after Overwriting</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF091797-929C-4FAB-8224-DECA10BE0AFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED97B753-872C-47B2-8375-584569232A3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A2BFDBCD-7006-44FD-88B9-14695FF37D99</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5BE8354-29A1-4355-A4C6-4055CA1DB83F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>418FD397-A8AB-444C-A181-441CEB60881C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D40AA19D-AF50-44E0-8514-F7A62BDADD48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B251ECCB-821D-4ABB-820F-44732096C853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED97B753-872C-47B2-8375-584569232A3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C48650A-4975-416A-8BD0-11DC6DF5DDAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Run and Manage Virtual Machines</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Virtual Machines</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tart run "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0C48650A-4975-416A-8BD0-11DC6DF5DDAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:list_vms_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting list…</string>
				<key>script</key>
				<string>./virtual-machines "${(f)ignored_vms}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Run and Manage Virtual Machines</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>list_not_ignored</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2A1CB15A-C5A9-45D2-AEFF-7B901E358AF6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tart stop "${orig_vm}"
tart clone "${1}" "${orig_vm}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>418FD397-A8AB-444C-A181-441CEB60881C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./virtual-machines "${orig_vm}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>96020B05-A3BE-49A2-B638-5849BB122534</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>orig_vm</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0C43D32F-4524-4292-A2F0-98BAB312E8E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:restart}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Restart VM</string>
						<key>uid</key>
						<string>A2BFDBCD-7006-44FD-88B9-14695FF37D99</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AF091797-929C-4FAB-8224-DECA10BE0AFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:orig_vm}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ED97B753-872C-47B2-8375-584569232A3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>orig_vm</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9536190C-FA59-4461-91AD-30AF02A2AAC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Delete</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Erasing a Virtual Machine cannot be undone.</string>
				<key>title</key>
				<string>Delete {query}?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>5D98957A-486E-472F-A008-6E3FDBB89A0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>restart</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B5BE8354-29A1-4355-A4C6-4055CA1DB83F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>0C624EF2-3B87-48F9-9BA0-0A02AEDD31E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tart clone "${orig_vm}" "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9FA51A6D-2460-46A9-94C6-1A46DE3DC880</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Name for Cloned VM</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>894EA6FF-FFF7-4FD1-BC7E-40BF715E9139</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>53D126D5-BBFD-4668-A19B-55328F10FEBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tart delete "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9CA1563B-A17E-4162-91B7-3205B9146460</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>list_not_ignored</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>B251ECCB-821D-4ABB-820F-44732096C853</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function run(argv) {
  // Read plist for ignored VMs
  const task = $.NSTask.alloc.init
  const stdout = $.NSPipe.pipe

  task.executableURL = $.NSURL.alloc.initFileURLWithPath("/usr/libexec/PlistBuddy")
  task.arguments = ["-c", "Print :ignored_vms", "prefs.plist"]
  task.standardOutput = stdout
  task.launchAndReturnError(false)

  const dataOut = stdout.fileHandleForReading.readDataToEndOfFileAndReturnError(false)
  const stringOut = $.NSString.alloc.initWithDataEncoding(dataOut, $.NSUTF8StringEncoding).js

  task.waitUntilExit

  // Set ignored
  const ignored = task.terminationStatus === 0 ? `${stringOut}${argv[0]}` : argv[0]

  Application("com.runningwithcrayons.Alfred").setConfiguration(
    "ignored_vms",
    { toValue: ignored, inWorkflow: envVar("alfred_workflow_bundleid") }
  )
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>27FA96FD-E50D-4CEB-A4C7-D96846223619</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

Application("com.runningwithcrayons.Alfred").removeConfiguration("ignored_vms", { inWorkflow: envVar("alfred_workflow_bundleid") })</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D40AA19D-AF50-44E0-8514-F7A62BDADD48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

Install [`tart`](https://github.com/cirruslabs/tart) with `brew install cirruslabs/cli/tart` and use it to install your virtual machines.

## Usage

Search installed virtual machines via the `tart` keyword.

![Listing installed virtual machines](images/about/tart.png)

* &lt;kbd&gt;↩&lt;/kbd&gt;: Run.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Overwrite with another. &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; again to restart the original.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Clone.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Delete.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Ignore.
* &lt;kbd&gt;fn&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Reset ignored.</string>
	<key>uidata</key>
	<dict>
		<key>0C43D32F-4524-4292-A2F0-98BAB312E8E2</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>0C48650A-4975-416A-8BD0-11DC6DF5DDAF</key>
		<dict>
			<key>note</key>
			<string>Run VM</string>
			<key>xpos</key>
			<real>1115</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>0C624EF2-3B87-48F9-9BA0-0A02AEDD31E3</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>27FA96FD-E50D-4CEB-A4C7-D96846223619</key>
		<dict>
			<key>note</key>
			<string>Ignore VM</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>2A1CB15A-C5A9-45D2-AEFF-7B901E358AF6</key>
		<dict>
			<key>note</key>
			<string>List VMs</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>418FD397-A8AB-444C-A181-441CEB60881C</key>
		<dict>
			<key>note</key>
			<string>Clone VM</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>53D126D5-BBFD-4668-A19B-55328F10FEBC</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>5D98957A-486E-472F-A008-6E3FDBB89A0D</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>894EA6FF-FFF7-4FD1-BC7E-40BF715E9139</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>9536190C-FA59-4461-91AD-30AF02A2AAC8</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>96020B05-A3BE-49A2-B638-5849BB122534</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>9CA1563B-A17E-4162-91B7-3205B9146460</key>
		<dict>
			<key>note</key>
			<string>Delete VM</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>9FA51A6D-2460-46A9-94C6-1A46DE3DC880</key>
		<dict>
			<key>note</key>
			<string>Clone VM</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>AF091797-929C-4FAB-8224-DECA10BE0AFB</key>
		<dict>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>B251ECCB-821D-4ABB-820F-44732096C853</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>B5BE8354-29A1-4355-A4C6-4055CA1DB83F</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>D40AA19D-AF50-44E0-8514-F7A62BDADD48</key>
		<dict>
			<key>note</key>
			<string>Reset Ignored VMs</string>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>ED97B753-872C-47B2-8375-584569232A3D</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tart</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>List VMs Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>list_vms_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>Newline-separared list of virtual machines to not show in main list.</string>
			<key>label</key>
			<string>Ignored VMs</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ignored_vms</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.4</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/virtual-machines-workflow/</string>
</dict>
</plist>
